body {
    font-family: Arial, sans-serif;
    background-color: #004953;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fffafa;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

button {
    padding: 5px 10px;
    margin: 5px;
}

#display {
    font-size: 2em;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

#new-task {
    width: 100%;
    margin-top: 10px;
}

#start {
    background-color: #228B22;
    color: #fff;
    border-radius: 10px;
}

#pause {
    background-color: #FF6347;
    color: #fff;
    border-radius: 10px;
}

#reset {
    background-color: #9370DB;
    color: #fff;
    border-radius: 10px;
}